html, body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #777;
}

.sidebar {
  width: 300px;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webki-border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  border:1px solid #fff;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  background: #FFF;
 }

.sidebar .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 1px solid #CCC;
  position: relative;
}
.sidebar li {
  color: #777;
}



.sidebar li:hover, .sidebar li:hover .link {
  color: #2196f3  ;
}

.sidebar li:last-child .link {
  border-bottom: 0;
}

.sidebar li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.sidebar li.open .link {
  color: #2196f3;
}

.sidebar li.open i {
  color: #2196f3;
}
.sidebar li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar li.open .submenu {
  display: block;
  /*visibility: visible;*/
  /*opacity: 1;*/
  -webki-animation:sidebar-show 0.5s linear 0s; 
  animation: sidebar-show 0.5s linear 0s; 
  -moz-animation:sidebar-show 0.5s linear 0s; 
  -ms-animation:sidebar-show 0.5s linear 0s; 
}

@keyframes sidebar-show
{
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
}

@-webikit-keyframes sidebar-show
{
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
}

@-moz-keyframes sidebar-show
{
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
}

@-ms-keyframes sidebar-show
{
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
  display: none;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  background: #444359;
  font-size: 14px;
 }

 .submenu li {
  border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
 }

 .submenu a:hover {
  background: #2196f3;
  color: #FFF;
 }
 .submenu a.open {
  background: #2196f3;
  color: #FFF;
 }

